.img{
    height: 70px;
    width: 70px;
}
.image{
    height: 500px;

}

h1, p{
    font-family: 'Times New Roman', Times, serif;
}
.nav-link{
    font-family: 'Times New Roman', Times, serif;
}